html {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#simscreen {
  position: relative;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 800px;
  border: solid 1px;
  background-color: white;
}

#title {
  position: relative;
  left: 0px;
  top: 0px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: black;
  font-family: verdana;
  color: White;
  text-transform: uppercase;
}

#title h3 {
  padding-top: 2px;
  margin: 0px;
}

.simsubscreen {
  position: absolute;
  left: 50px;
  top: 50px;
  height: 530px;
  width: 745px;
}

.incanvas {
  margin: 5px 0 0 5px;
  padding: 0;
  font-size: 16px;
}

#nextButton {
  position: absolute;
  left: 750px;
  top: 530px;
  cursor: pointer;
}
#prevButton {
  position: absolute;
  left: 750px;
  top: 530px;
  cursor: pointer;
  visibility: hidden;
}

.circlebg {
  border-radius: 100%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  background: #000;
}

.steptext {
  display: inline;
  font-size: 14px;
}

#copyright {
  position: absolute;
  left: 60px;
  top: 580px;
  font-size: 12px;
}

button {
  cursor: pointer;
}
h5 {
  position: relative;
  font-family: verdana;
  top: 5px;
  font-size: 20px;
  margin: 5px;
  padding-top: 10px;
  padding-left: 10px;
  color: grey;
}

h4 {
  font-size: 24px;
}

/* modal */
.modal {
  background-color: rgba(7, 6, 6, 0.5);
  position: absolute;
  display: flex;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 600px;
  align-items: center;
  visibility: hidden;
  z-index: 10;
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  position: relative;
  background-color: white;
  text-align: center;
  margin: auto;
  width: auto;
  padding: 16px;
  border-radius: 5px;
  max-height: 80%;
  max-width: 80%;
  overflow-y: auto;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 10px;
  padding: 5px 5px;
  border: 1px solid black;
  background-color: #151719;
  color: white;
  cursor: pointer;
}

.instructions {
  display: inline-block;

  text-align: left;
}

li {
  /* width: 80%; */
  list-style-position: inside;
  text-align: left;
  line-height: 30px;
  margin: auto;
}

table {
  border: 1px solid rgb(150, 148, 148);
  font-family: verdana;
  font-size: 14px;
  margin-top: 15px;
  border-collapse: collapse;
  border-radius: 5px;
}
th {
  background-color: #151719;
  color: white;
}
td,
th {
  border: 1px solid rgb(150, 148, 148);
}
td,
th {
  padding: 8px;
}

.pattern {
  cursor: pointer;
}

.pattern:hover,
.pa:hover {
  background-color: #eff5f5;
}

.patClass {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* text-align: center;
  justify-content: center; */
}
.patClass p {
  display: block;
  width: 100%;
}
.pa {
  border: 1px solid black;
  font-size: 24px;
  padding: 15px;
  display: flex;
  cursor: pointer;
}

/* canvas */
.tools {
  position: absolute;
  left: -40px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item * {
  position: relative;
  width: 135px;
  text-align: center;
  border: 1px solid rgb(189, 186, 186);
  /* background-color: #ffffff; */
  font-size: 14px;
  font-family: verdana;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  /* box-shadow: 1px 2px 2px #2f2f30; */
  font-weight: 400;
}
.item *:hover {
  /* background-color: #000000; */
  /* color: #ffffff; */
  /* box-shadow: 2px 2px 2px #777777; */
  border: 2px solid rgb(167, 165, 165);
}

#selected-color {
  height: 30px;
}
#region {
  position: absolute;
  left: 340px;
  top: -10px;
  z-index: 10;
}
#status {
  position: absolute;
  left: 555px;
  top: -18px;
  z-index: 10;
  font-size: 14px;
  visibility: hidden;
}
#can {
  position: absolute;
  /* border: 1px solid rgb(179, 176, 176); */
  left: 100px;
  top: 25px;
  z-index: 1;
  background: transparent;
}

.scale1 {
  position: absolute;
  left: 82px;
  top: 25px;
  z-index: 0;
}
.scale2 {
  position: absolute;
  left: 65px;
  top: 16px;
  z-index: 0;
}

.color-pallet {
  position: relative;
  display: flex;
  top: 0px;
  /* z-index: 10; */
  flex: 1;
  flex-wrap: wrap;
}
.color-div {
  display: inline-block;
  padding: 6px;
  margin: 2px;
  flex: 1;
  /* min-width: 10px; */
  border: 2px solid #777;
}
.color-div:hover {
  border: 1px solid #fff;
  box-shadow: none;
  background-color: #ffffff;
}

.view {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  /* grid-template-columns: 5; */
  border: 1px solid rgb(206, 197, 197);
  /* border-radius: 5px; */
  margin-bottom: 5px;

  /* text-align: left; */
}
.vcc {
  /* display: block; */
  margin-right: 8px;
  margin-left: 8px;
}
.bc {
  /* display: block; */
  width: auto;

  margin-right: 0px;
}
.cc {
  width: 20px;
}
.bcc {
  margin-left: 0px;
}
/* .vcc p {
  padding-left: 5px;
} */
#overviewc {
  /* display: inline-block; */
  max-width: 500px;
  /* grid-auto-flow: row;
  grid-template-columns: 50px 50px 50px; */
  overflow-y: auto;
  margin-right: 8px;
}
.overlay-image {
  position: absolute;
  left: -40px;
  top: 500px;
  z-index: 180;
  font-size: 12px;
}
h5 {
  text-align: left;
}
.bc {
  width: 50px;
  height: 25px;
  display: inline-block;
}

.beforeSelection {
  position: relative;
  border: 1px solid rgb(206, 197, 197);
  padding: 5px 8px;
  /* box-shadow: 2px -4px 4px gray; */
  margin-left: 5px;
  border-radius: 5px;
  color: black;
  background-color: white;
}
.selected {
  position: relative;
  border: none;
  color: black;
}
#selectSample {
  padding: 5px 8px;
  margin-left: 10px;
  background-color: rgb(243, 236, 236);
  border: 1px solid rgb(206, 197, 197);
  border-radius: 5px;
  font-weight: 600;
}

/* sidebar */
#sidebar {
  position: fixed;
  width: 200px;
  height: 480px;
  background-color: #151719;
  left: -40px;
  top: 90px;
  transition: left 500ms linear;
  font-size: 14px;
  font-family: verdana;
}
#sidebar.active {
  left: -200px;
}

#sidebar ul li {
  color: white;
  list-style: none;
  padding: 8px 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
#sidebar ul li:hover {
  background-color: lightblue;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 2px;
  background: #151719;
  margin: 5px 10px;
  cursor: pointer;
}

#content-div {
  position: absolute;
  left: 350px;
  top: 150px;
}

#mySlider {
  overflow: hidden;
  position: absolute;
  width: 500px;
  height: 314px;
  left: 180px;
  top: 180px;
  border: 5px lightgrey solid;
  /* border-radius:25px; */
  border-style: ridge;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleSlide {
  background-size: cover;
  height: 300px;
  position: absolute;
  left: 500px;
  width: 100%;
  top: 0px;
}

.slideOverlay {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0px;
  padding-top: 0px;
}

#sliderNav {
  position: relative;
  left: 270px;
  top: -270px;
  width: 250px;
}

#sliderNav1 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 100%;
  font-size: 60px;
}

* {
  box-sizing: border-box;
}

#sliderNav:hover {
  cursor: pointer;
}
#sliderNav1:hover {
  cursor: pointer;
}

#sliderPrev {
  position: relative;
  float: left;
  left: -70px;
  top: 50%;
}
#sliderPrev1 {
  position: relative;
  float: left;
  left: -20%;
  top: -100%;
  font-size: 25px;
  /* left: -70px; */
}

#sliderNext {
  position: relative;
  float: right;
  right: -135px;
}

#sliderNext1 {
  position: relative;
  float: right;
  left: -30%;
  top: -100%;
  font-size: 25px;

  /* right: -155px; */
}
.names {
  position: absolute;
  left: 200px;
  top: 250px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 800;
}
#maxMin {
  position: relative;
  float: right;
  left: -30%;
  top: 80%;
  font-size: 25px;

  /* right: -155px; */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-family: verdana;
  font-size: 14px;
  text-align: justify;
}

.tooltip .tooltiptext {
  font-family: verdana;
  font-size: 14px;
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  left: 0px;
  top: 20px;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;

  /* display:none; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  /* display: inline-block; */
}

#mapScale {
  position: absolute;
  left: 580px;
  top: 600px;
  visibility: hidden;
}
.northArrow {
  position: absolute;
  left: 720px;
  top: 130px;
  z-index: 150;
  visibility: hidden;
}

/* .selected {
  background-color: red;
  color: #fff;
  font-weight: bold;
} */
@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideIn1 {
  100% {
    opacity: 1;
  }
}

@keyframes slideIn1 {
  100% {
    opacity: 1;
  }
}

.slideShow {
  visibility: visible;
}

.slideHide {
  visibility: hidden;
}

.slideInRight {
  left: -100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
  left: 100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInRight1 {
  left: -100%;
  -webkit-animation: slideIn 0s forwards;
  animation: slideIn 0s forwards;
}

.slideInLeft1 {
  left: 100%;
  -webkit-animation: slideIn 0s forwards;
  animation: slideIn 0s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

.slideOutLeft1 {
  -webkit-animation: slideOutLeft 0s forwards;
  animation: slideOutLeft 0s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

.slideOutRight {
  -webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}
.slideOutRight1 {
  -webkit-animation: slideOutRight 0s forwards;
  animation: slideOutRight 0s forwards;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .tools {
    display: none;
  }
  #can {
    position: absolute;
    /* border: 1px solid rgb(179, 176, 176); */
    left: 65px;
    top: 25px;
  }
  .modal {
    /* display: block; */
    visibility: visible;
    position: absolute;
    top: 350px;
    left: -200px;
  }
  #overviewc {
    visibility: visible;
  }
  #simscreen {
    border: none;
  }
  #title {
    display: none;
  }
  #copyright {
    display: none;
  }
  #mapScale {
    position: absolute;
    left: 580px;
    top: 560px;
    visibility: visible;
  }
  .northArrow {
    position: absolute;
    left: 680px;
    top: 130px;
    z-index: 150;
    visibility: visible;
  }
  .overlay-image {
    display: none;
  }
}
